backports.functools-lru-cache==1.5
cycler==0.10.0
enum34==1.1.6
imutils==0.4.6
kiwisolver==1.0.1
matplotlib==2.2.2
numpy==1.14.3
opencv-python==3.4.0.12
pathlib==1.0.1
Pillow==5.1.0
pyparsing==2.2.0
python-dateutil==2.7.2
pytz==2018.4
pyzbar==0.1.4
qrcode==6.0
six==1.11.0
subprocess32==3.2.7
zbar==0.10
